<form class="add-to-cart d-flex flex-column" action="/cart" method="post">
  <div class="p-2 d-flex align-items-center justify-content-between">
    <i class="fas fa-minus add-to-cart-minus"></i>
    <span class="add-to-cart-display"></span>
    <i class="fas fa-plus add-to-cart-plus"></i>
  </div>

  <button class="btn btn-primary .add-to-cart-button" type="submit">
    <%= message %>
  </button>

  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input
    class="add-to-cart-iproductId"
    type="hidden"
    name="productId"
    value="<%= product._id %>"
  />
  <input
    class="add-to-cart-iquantity"
    type="hidden"
    name="quantity"
    value="<%= quantity %>"
  />
</form>

<!-- 
<script>
  let counter = 0;

  const minusButton = document.("add-to-cart-minus");
  const plusButton = document.getElementById("add-to-cart-plus");
  const display = document.getElementById("add-to-cart-display");
  display.textContent = counter;

  minusButton.addEventListener("click", () => {
    counter -= 1;
    display.textContent = counter;
  });

  plusButton.addEventListener("click", () => {
    counter += 1;
    display.textContent = counter;
  });
</script> -->
