<div class="mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% for (let breadcrumb of breadcrumbs) { %>
      <li class="breadcrumb-item">
        <a href="<%= breadcrumb.slug %>"><%= breadcrumb.name %></a>
      </li>
      <% } %>
    </ol>
  </nav>
  <h1><%= pageTitle %></h1>
</div>
