<footer class="footer p-4 color-dark m-auto">
  <a class="btn btn-link" href="#">
    <ion-icon name="logo-facebook"></ion-icon> facebook
  </a>
  <a class="btn btn-link" href="#">
    <ion-icon name="logo-instagram"></ion-icon> instagram
  </a>
  <a class="btn btn-link" href="#">
    <ion-icon name="logo-twitter"></ion-icon> twitter
  </a>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/ionicons.min.js"
integrity="sha512-2CLajDubS5WtGJysIjlV53WZWEP1Dve1eMbOEl/Yyg1xXQkfiuf3YZ3TMBxADg0hFU0YEIbTQqCKZvnFI0OqPg=="
crossorigin="anonymous"
></script>
</body>

</html>