<%- include('includes/head.ejs') %>
</head>

<body>
    
  <%- include('includes/navigation.ejs') %>
    <main class="container">
      <%- include('includes/breadcrumbs-and-header.ejs') %>
      <!-- <div class="row">
        <div class="col">
          lol
        </div>
      </div> -->
      sdf
    </main>

  <%- include('includes/end.ejs') %>